@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#proxima_nova_altblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#proxima_nova_altblack") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 1, components/_init.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, components/_init.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

/* line 11, components/_init.scss */
ul {
  list-style: none; }

/* line 15, components/_init.scss */
a {
  text-decoration: none; }

/* line 19, components/_init.scss */
body {
  font-family: 'Roboto', sans-serif; }

/* line 23, components/_init.scss */
.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* line 28, components/_init.scss */
.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 1, components/_buttons.scss */
.btn, .btn-green, .btn-orange, .btn-red, .btn-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px rgba(162, 201, 22, 0.25);
          box-shadow: 0 5px 5px rgba(162, 201, 22, 0.25);
  border-radius: 3px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

/* line 10, components/_buttons.scss */
.btn-green {
  background-color: #a2c916;
  padding: 16px 20px;
  width: 185px; }
  /* line 16, components/_buttons.scss */
  .btn-green__title {
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 22px; }
  /* line 23, components/_buttons.scss */
  .btn-green:hover {
    background-color: #A2C99C; }

/* line 28, components/_buttons.scss */
.btn-orange {
  background-color: #fba029;
  background-image: -webkit-gradient(linear, left top, right top, from(#fba405), to(#ffcb2e));
  background-image: linear-gradient(to right, #fba405 0%, #ffcb2e 100%);
  padding: 24px 31px; }
  /* line 34, components/_buttons.scss */
  .btn-orange__title {
    font-size: 18px;
    color: #ffffff;
    margin-left: 22px; }
  /* line 40, components/_buttons.scss */
  .btn-orange:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#FBA49A), to(#ffcb2e));
    background-image: linear-gradient(to right, #FBA49A 0%, #ffcb2e 100%); }

/* line 45, components/_buttons.scss */
.btn-red {
  background-color: #fba029;
  background-image: -webkit-gradient(linear, left top, right top, from(#fc5b42), to(#ff896b));
  background-image: linear-gradient(to right, #fc5b42 0%, #ff896b 100%);
  padding: 24px 31px; }
  /* line 51, components/_buttons.scss */
  .btn-red__title {
    font-size: 18px;
    color: #ffffff;
    margin-left: 22px; }
  /* line 56, components/_buttons.scss */
  .btn-red:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#FC5BAA), to(#ff896b));
    background-image: linear-gradient(to right, #FC5BAA 0%, #ff896b 100%); }

/* line 61, components/_buttons.scss */
.btn-red-wrapper {
  margin-top: 32px; }

/* line 65, components/_buttons.scss */
.btn-blue {
  background-color: #29b6ff;
  padding: 14px 17px; }
  /* line 69, components/_buttons.scss */
  .btn-blue__title {
    font-family: "Proxima Nova";
    font-size: 10px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 14px; }

/* line 1, components/_slider.scss */
.slider {
  overflow: hidden;
  position: relative; }
  /* line 5, components/_slider.scss */
  .slider__slides {
    -webkit-transition: 1s;
    transition: 1s; }
  /* line 8, components/_slider.scss */
  .slider__slide {
    float: left;
    display: block; }
    /* line 11, components/_slider.scss */
    .slider__slide img {
      max-width: 100%; }
  /* line 16, components/_slider.scss */
  .slider__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 42%; }

/* line 24, components/_slider.scss */
.dot {
  width: 12px;
  height: 12px;
  background: url("../img/dot.png") no-repeat center center;
  background-size: cover;
  margin-left: 17px; }
  /* line 30, components/_slider.scss */
  .dot.active {
    background: url("../img/dot-active.png") no-repeat center center;
    background-size: cover;
    -webkit-box-shadow: 0 5px 25px rgba(173, 200, 53, 0.75);
            box-shadow: 0 5px 25px rgba(173, 200, 53, 0.75);
    border: 3px solid rgba(255, 255, 255, 0.15); }

/* line 7, style.scss */
header {
  padding: 22px 0; }

/* line 11, style.scss */
.logo {
  margin-right: 10px;
  margin-top: 11px;
  display: inline-block; }
  /* line 16, style.scss */
  .logo__title {
    color: #eff4fc;
    font-size: 28px;
    font-family: 'Proxima Nova';
    text-transform: uppercase; }

/* line 24, style.scss */
.menu {
  pading: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap; }
  /* line 29, style.scss */
  .menu__item {
    font-family: "Proxima Nova";
    font-size: 14px;
    color: #9da9b5;
    padding: 20px 19px;
    -webkit-transition: all 0.20s;
    transition: all 0.20s; }
    /* line 36, style.scss */
    .menu__item:hover {
      border-bottom: 2px solid #f4f; }
    /* line 40, style.scss */
    .menu__item--important {
      color: #fe666f; }
    /* line 44, style.scss */
    .menu__item--used {
      color: #2e3338;
      font-weight: 700; }

/* line 51, style.scss */
#intro {
  padding-top: 27px;
  padding-bottom: 37px;
  background-color: #e8edf4; }

/* line 57, style.scss */
#content {
  background-color: #e8edf4; }

/* line 61, style.scss */
.article {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 21px 36px 36px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.04);
          box-shadow: 0 15px 45px rgba(0, 0, 0, 0.04); }
  /* line 68, style.scss */
  .article__date {
    font-size: 14px;
    color: #2e3338;
    opacity: 0.65;
    padding: 14px 10px 18px 17px;
    background-color: #edf3fa; }
  /* line 75, style.scss */
  .article__title {
    margin-top: 23px;
    font-size: 26px;
    font-weight: 700;
    color: #2e3338; }
  /* line 81, style.scss */
  .article__text {
    font-size: 16px;
    color: #586c81;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 25px;
    width: 81%; }
  /* line 89, style.scss */
  .article__label {
    padding: 13px 19px 14px;
    -webkit-box-shadow: 0 10px 35px rgba(251, 152, 43, 0.45);
            box-shadow: 0 10px 35px rgba(251, 152, 43, 0.45);
    font-size: 18px;
    color: #ffffff; }
    /* line 94, style.scss */
    .article__label.hot {
      background-image: -webkit-gradient(linear, left top, right top, from(#fa8819), to(#fec259));
      background-image: linear-gradient(to right, #fa8819 0%, #fec259 100%);
      background-color: #0f1219; }

/* line 101, style.scss */
.server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0;
  border-top: 1px solid #e5eaf1; }
  /* line 106, style.scss */
  .server__title {
    font-family: "Proxima Nova";
    font-size: 14px;
    color: #2e3338; }
  /* line 111, style.scss */
  .server__text {
    font-family: "Proxima Nova";
    color: #9ea7b0;
    margin-top: 7px;
    font-size: 11px; }
  /* line 117, style.scss */
  .server__wrapper {
    margin-left: 11px; }

/* line 122, style.scss */
.vk {
  margin-top: 36px; }

/* line 126, style.scss */
.info {
  padding: 20px;
  background-color: #fff; }
  /* line 129, style.scss */
  .info__title {
    color: #2e3338;
    font-size: 14px;
    margin-bottom: 18px; }
  /* line 134, style.scss */
  .info__online {
    text-align: center;
    font-size: 13px;
    font-family: "Proxima Nova";
    color: #9da9b5;
    margin-top: 26px; }

/* line 143, style.scss */
footer {
  padding: 32px 0 25px;
  background-color: #343a4a; }

/* line 148, style.scss */
.copyright {
  display: inline-block;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: #ffffff;
  margin-left: 27px; }

@media screen and (max-width: 1200px) {
  /* line 160, style.scss */
  .article__img {
    max-width: 100%; }

  /* line 164, style.scss */
  .vk {
    text-align: center; } }
@media screen and (max-width: 989px) {
  /* line 170, style.scss */
  .btn-orange {
    margin-top: 36px; }

  /* line 174, style.scss */
  .slider img {
    width: 90%; } }
@media screen and (max-width: 508px) {
  /* line 183, style.scss */
  .menu__item {
    font-size: 10px;
    padding: 20px 14px; } }

/*# sourceMappingURL=style.css.map */